.table {
  display: table;
}

.tableHeaderRow {
  display: table-row;
  height: 2em;
  color: #aaa;
}

.tableRow {
  display: table-row;
  height: 4em;
}

.tableRow:first-child {
  border-radius: 10px 0 0 10px;
  /* color: black; */
}

.tableRow:hover {
  background-color: #d3d3d311;
}

.tableCell {
  width: 20em;
  display: table-cell;
  text-align: right;
  vertical-align: middle;
  padding: 0.5em;
}

.ups {
  color: green;
}

.downs {
  color: red;
}

.tableSymbolCell {
  text-align: left;
}

.symbolBase {
  font-weight: 600;
}
