.table {
  display: table;
}

.tableHeaderRow {
  display: table-row;
  height: 2em;
  color: #aaa;
}

.tableRow {
  display: table-row;
  height: 4em;
}

.tableRow:first-child {
  border-radius: 10px 0 0 10px;
  /* color: black; */
}

.tableRow:hover {
  background-color: #d3d3d311;
}

.tableCell {
  width: 20em;
  display: table-cell;
  text-align: right;
  vertical-align: middle;
  padding: 0.5em;
}

.ups {
  color: #03a66d;
}

.downs {
  color: #e33b54;
}

.tableSymbolCell {
  text-align: left;
}

.symbolBase {
  font-weight: 600;
}

@media only screen and (max-width: 1024px) {
  .changed,
  .volumn {
    display: none;
  }

  .ups {
    background-color: #04d48b;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 0.5em 0;
  }

  .downs {
    background-color: #e33b54;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 0.5em 0;
  }
}
